@charset "utf-8";
/* ===================================================================
CSS information
 file name  :style.css
 style info :各cssファイル読み込み用
=================================================================== */
/* line 111, ../_scss/_vars.scss */
.clearfix {
  *zoom: 1;
}
/* line 113, ../_scss/_vars.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* CSS Sprite用設定 */
/* bootstrap カスタマイズ用style
----------------------------------------------------------- */
/*----------------------------------------------------
	変更用style
----------------------------------------------------*/
/* line 5, ../_scss/_bootstrap.scss */
.glyphicon {
  margin-right: 4px;
}

/* line 8, ../_scss/_bootstrap.scss */
.container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #EEE;
  width: 650px;
}

/* line 14, ../_scss/_bootstrap.scss */
.tab-content {
  background: #FFF;
  padding: 10px;
  border: #DDD 1px solid;
  border-width: 0 1px 1px;
  margin-bottom: 10px;
}

/* 追加 style
----------------------------------------------------------- */
/*----------------------------------------------------
	基本設定、リンクカラーなど
----------------------------------------------------*/
